
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


html,
body {
  height: 100% !important;
}


//Variables declaration
//break points
$xs-max-width: (max-width 599px);
$gt-xs-min-width: 600px;
$sm-width-range: 600px 959px;
$gt-sm-min-width: 960px;
$md-width-range: 960px 1279px;
$gt-md-min-width: 1280px;
$lg-width-range: 1280px 1919px;
$gt-lg-min-width: 1920px;
$xl-min-width: 1920px;


// General variables
$nav-bar-width: 300px;
$header-bg-color: #fafafa;
$footer-bg-color: #eeeeee;
$border-color: #D2D2D2;

.main-app-container {
  width: calc(100% - 300px);
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0;
}

//Import partials
@import "nav-bar";
@import "header";
@import "footer";
