//
//@font-face {
//  font-family: "avenir-lt-std";
//  src:url("../fonts/avenir-lt-std/AvenirLTStd-Book.woff");
//  src:url("../fonts/avenir-lt-std/AvenirLTStd-Light.woff");
//  src:url("../fonts/avenir-lt-std/AvenirLTStd-Medium.woff");
//  font-weight: normal;
//  font-style: normal;
//
//}

* {
  font-family: 'avenir-lt-std';
  box-sizing: border-box;
}


html,
body {
  height: 100% !important;
}


//Variables declaration
//break points
$xs-max-width: (max-width 599px);
$gt-xs-min-width: 600px;
$sm-width-range: 600px 959px;
$gt-sm-min-width: 960px;
$md-width-range: 960px 1279px;
$gt-md-min-width: 1280px;
$lg-width-range: 1280px 1919px;
$gt-lg-min-width: 1920px;
$xl-min-width: 1920px;


// General variables
$nav-bar-width: 300px;



//Import partials
@import 'nav-bar';